.header-container{
    background-color: red
}
#sidebar a.active {
    color: red;
  }
  #sidebar a {
    padding: 0px 10px;
    font-size: 15px;
    color: white;
  }

  #sideBar2 a.active {
    color: red;
  }
  #sideBar2 a {
    padding: 0px 10px;
    font-size: 15px;
    color: black;
    border-radius: 2px;
    background-color: white ;
  }